@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%,
  45% {
    opacity: 1;
  }
  46%,
  100% {
    opacity: 0;
  }
}
